:root {
  --color-darkblue: #120e26;
  --color-blue: #008dd5;
  --color-orange: #ffb400;
  --color-light: #f7f7ff;
  --color-red: #db3a34;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}
